@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.filter {
  background-color: $second-color;
  border-radius: 10px;
  padding: 20px 20px 50px 20px;
  margin-bottom: 47px;
  &:last-child {
    margin-bottom: 0;
  }
  .title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: $purple-color;
  }
  .сheckboxes {
    padding: 0;
    margin: 0;
    margin-top: 27px;
    margin-left: 25px;
    li {
      margin-bottom: 21px;
      list-style: none;
      &:last-child {
        margin: 0;
      }
    }
  }
}
